.dropArea{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #3b5d49;
    margin-bottom: 20px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.textDrop{
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    height: 400px;    
}

.btonLogin{
    background-color: transparent;
    padding:10px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

.contDrop{
    display: flex;
    flex-direction: column;
}